/*==========VARÁVEIS DO CSS==========*/

:root{
    --primary-color: #1b357e;
    --secondary-color: #1351d8;
    --tertiary-color: #ffffff;

    --font-primary: Arial, Helvetica, sans-serif;
}
/*==========KEYFRAMES==========*/

@keyframes opacityAnimation {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}
/*==========SELETORES-DE-TAGS-BÁSICAS==========*/

body {
    width: 100%;
    height: 100%; 
}

/*==========BARRA-DE-NAVEGAÇÃO==========*/

.nav-bar {
    padding: 0 0 1% 0;
    margin-bottom: 10px;  
    width: 100%;
    box-shadow: 2px 0px 5px #000000;
    min-height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar__logo {
    inset: 0;
    position: absolute;
}

.nav-bar__link-list {
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 20px;
}

.nav-bar__link-list li, .nav-bar__link-list a  {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-bar__link-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*HOVER-NAV-BAR*/
.nav-bar__link-list a:hover {
    animation: colorTrade 550ms infinite;
}

.nav-bar__link-list p {
    opacity: 0%;
}

.nav-bar__link-list a:hover p {
    animation: opacityAnimation 550ms infinite;
}
/*==========PÁGINA-PRINCIPAL==========*/

.main-container {
    width: 100%;
    margin: 0 0 4px 0;
}

.main-container__section-main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container img {
    width: 100%;
    max-width: 1350px;
    height: 100%;
    min-height: 745px;
    background-size: cover;
}

.main-container h2 {
    text-align: center;
    user-select: none;
}

/*==========FOOTER==========*/

.footer-container {
    height: 75px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.footer-container__social-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
}

.footer-container__social-container--title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tertiary-color);
}

.footer-container__social-container img {
    max-width: 30px;
    width: 100%;
}

.footer-container__copyright {
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--tertiary-color);
}

.footer-container__logo {
    margin-right: 20px;
}